body{
 font-family: "Avenir Next","ヒラギノ角ゴ ProN W3";
 background-color: #ffffff;
}

.header{
 padding: 0px 0px 100px;
 font-size: 30px;
 font-weight: bold;
}

.header-logo{
 padding: 0px 150px 10px;
}

.main{
 margin: 0px 70px 0px 0px;
 font-size: 20px;
}

.table{
 border-collapse: collapse;
}


.footer-table{
 border-collapse: collapse;
 margin: 0px 0px 0px 280px;
 font-size: 20px;
}
